<div class="card">
    <div class="card-body">
        <div class="table-responsive" *ngIf="stdarr.length>0;else nostd">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SR.NO</th>
                        <th>FULL NAME</th>
                        <th>EMAIL</th>
                        <th>CONTACT</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdarr,index as i">
                        <td>{{i+1}}</td>
                        <td>{{std.fname}} {{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td>
                        <td><button 
                            (click)="onedit(std)"
                            mat-icon-button color="primary"><mat-icon>edit</mat-icon></button></td>
                        <td><button 
                            (click)="ondelete(std.stdId)"
                            mat-icon-button color="warn"><mat-icon>delete</mat-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #nostd>
    <p class="alert alert-warning">
        CURRENTLY NO STUDENT FOUND !!!!
    </p>
</ng-template>
